<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  #customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #000000;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #e2fca6;}

#customers tr:hover {background-color: #e2fca6;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0314ff;
  color: white;
}
</style>

<!-- Toolbar -->
<div>
  <h1>tablitas de tareas pa gonza</h1>

  <table id="customers">
    <tr>
      <th>ID</th>
      <th>autor</th>
      <th>estado</th>
      <th>titulo</th>
      <th>contenido</th>
    </tr>
    <tr>
      <td>1</td>
      <td>rora</td>
      <td>corregido</td>
      <td>tarea-base-datos</td>
      <td>contenido</td>
    </tr>
    <tr>
      <td>2</td>
      <td>matibe</td>
      <td>pendiente</td>
      <td>tarea-angular</td>
      <td>contenido</td>
    </tr>
    <tr>
      <td>3</td>
      <td>tomi</td>
      <td>pendiente</td>
      <td>tarea-programacion</td>
      <td>contenido</td>
    </tr>
    <tr>
      <td>4</td>
      <td>hroma</td>
      <td>corregido</td>
      <td>tarea-programacion</td>
      <td>contenido</td>
    </tr>
  </table>
</div>

